dist/questions.html

<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href=""/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <header class="header header_min">
      <div class="container header_container">
        <div class="header__inner container">
          <div class="onstart"><a class="onstart__link" href="/"><img src="images/back.png"/></a></div>
          <div class="logos">
            <div class="logos__img logos_coca"><img src="images/coca.png" alt="logo"/></div>
            <div class="logos__img"><img src="images/5ka.png" alt="logo"/></div><span class="logos__slogan">Выигрывай призы в пятёрочке Комсити</span>
          </div>
        </div>
        <div class="nav container">
          <div class="nav_pattern_mobile"></div>
          <ul class="nav__ul">
            <li class="nav__li"><a class="nav__link" href="#!">Правила</a></li>
            <li class="nav__li"><a class="nav__link" href="winners.html">Победители</a></li>
            <li class="nav__li"><a class="nav__link" href="questions.html">Вопрос-ответ</a></li>
            <li class="nav__li nav_li_mobile"><a class="nav__link modal_trigger" href="#firstauth">Войти / Зарегистрироваться</a><a class="nav__link modal_trigger mobile__auth" href="#auth">Войти</a><a class="nav__link modal_trigger mobile__reg" href="#reg">Зарегистрироваться</a></li>
          </ul>
        </div>
        <div class="menu">
          <div class="menu__icon"><img src="images/menu.png" alt="burger"/></div>
        </div>
      </div>
    </header>
    <section class="content">
      <div class="df">
        <section class="section-main main_sale main_aside_sales">
          <div class="main">
            <div class="main__img active"><a href="sale.html"><img src="images/med/1.png" alt="sale"/></a></div>
            <div class="main__img"><a href="sale.html"><img src="images/med/2.png" alt="sale"/></a></div>
            <div class="main__img"><a href="sale.html"><img src="images/med/3.png" alt="sale"/></a></div>
            <div class="main__img"><a href="sale.html"><img src="images/med/4.png" alt="sale"/></a></div>
            <div class="main__img"><a href="sale.html"><img src="images/med/5.png" alt="sale"/></a></div>
            <div class="main__img"><a href="sale.html"><img src="images/med/6.png" alt="sale"/></a></div>
          </div>
        </section>
        <section class="section-winners questions_page">
          <div class="container">
            <div class="modal" id="questions">
              <div class="modal_inner modal_questions">
                <div class="modal__title ttl3">Вопрос-ответ</div>
                <form class="modal__form">
                  <div class="feild">
                    <input class="field__input" type="text" placeholder="Фамилия Имя Отчество" name="email"/>
                  </div>
                  <div class="feild">
                    <input class="field__input" type="email" placeholder="e-mail" name="email"/>
                  </div>
                  <div class="modal__form-row">
                    <div class="feild">
                      <select class="js-example-basic-single field__input" type="text" placeholder="Выберете тему" name="theme">
                        <option value="">Выберите тему</option>
                        <option value="">2</option>
                      </select>
                    </div>
                  </div>
                  <div class="field">
                    <textarea class="field__input" name="text" placeholder="Ваше сообщение"></textarea>
                  </div>
                  <div class="modal__form-row">
                    <button class="green_btn" type="submit">Отправить </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="section-modals">
      <div class="modal" id="checkcan">
        <div class="modal_inner modal_reg_complete modal_checkcan">
          <div class="modal__title ttl3">Ваш чек отменен!</div>
          <div class="field__title">Мы получили Ваш чек<br/>и проверяем его. Статус чека<br/>можно узнать в <a href="lk.html">Личном кабинете </a>
            <button class="green_btn">Понятно </button>
          </div>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
      <div class="modal" id="thx">
        <div class="modal_inner modal_reg_complete modal_thx">
          <div class="modal__title ttl3">Спасибо</div>
          <div class="field__title">Мы получили Ваш чек<br/>и проверяем его. Статус чека<br/>можно узнать в <a href="lk.html">Личном кабинете </a>
            <button class="green_btn">Понятно </button>
          </div>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
      <div class="modal" id="forgotpass">
        <div class="modal_inner modal_reg_complete">
          <div class="modal__title ttl3">забыли пароль</div>
          <form class="modal__form">
            <div class="feild">
              <div class="field__title">Введите, пожалуйста, пароль, который мы отправили на ваш телефон по смс</div>
              <input class="field__input" type="text" placeholder="пароль из sms"/>
            </div>
            <div class="modal__form-row">
              <button class="green_btn" type="submit">OK</button>
            </div>
          </form>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
      <div class="modal" id="completereg">
        <div class="modal_inner modal_reg_complete">
          <div class="modal__title ttl3">завершить регистрацию</div>
          <form class="modal__form">
            <div class="feild">
              <div class="field__title">Введите, пожалуйста, пароль, который мы отправили на ваш телефон по смс</div>
              <input class="field__input" type="text" placeholder="пароль из sms"/>
            </div>
            <div class="modal__form-row">
              <button class="green_btn" type="submit">OK</button>
            </div>
          </form>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
      <div class="modal" id="reg">
        <div class="modal_inner modal_reg">
          <div class="modal__title ttl3">регистрация</div>
          <form class="modal__form">
            <div class="feild">
              <input class="field__input" type="text" placeholder="Фамилия" name="surname"/>
            </div>
            <div class="feild">
              <input class="field__input" type="text" placeholder="Имя" name="name"/>
            </div>
            <div class="feild">
              <input class="field__input" type="tel" placeholder="Телефон" name="phone"/>
            </div>
            <div class="feild">
              <input class="field__input" type="email" placeholder="E-mail" name="mail"/>
            </div>
            <div class="modal__form-row">
              <div class="feild field_checkbox">Я ознакомлен с <a href='#!'>правилами акции</a>
                <input type="checkbox" name="rules"/><span></span>
              </div>
            </div>
            <div class="modal__form-row">
              <div class="feild field_checkbox">Я согласен на обработку персональных данных.
                <input type="checkbox" name="privacy"/><span></span>
              </div>
            </div>
            <div class="modal__form-row">
              <div class="feild field_checkbox captcha">я не робот
                <input type="checkbox" name="captha"/><span></span>
              </div>
            </div>
            <div class="modal__form-row">
              <button class="green_btn" type="submit">зарегистрироваться</button>
            </div>
          </form>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
      <div class="modal" id="auth">
        <div class="modal_inner modal_auth">
          <div class="modal__title ttl3">авторизация</div>
          <form class="modal__form">
            <div class="feild">
              <input class="field__input" type="tel" placeholder="телефон" name="phone"/>
            </div>
            <div class="feild">
              <input class="field__input" type="password" placeholder="пароль" name="pass"/>
            </div>
            <div class="modal__form-row">
              <button class="green_btn" type="submit">Получить приз</button>
            </div>
            <div class="modal__form-row"><span><a class="modal_trigger" href="#forgotpass">Забыли пароль?</a></span></div>
            <div class="modal__form-row"><span>Впервые на сайте?<a class="modal_trigger" href="#reg"> Зарегистрируйтесь</a></span></div>
          </form>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
      <div class="modal" id="firstauth">
        <div class="modal_inner modal_firstauth">
          <div class="modal__title ttl3">Я участвовал в акциях <b>Coke&Meal</b>, у меня есть логин и пароль.</div>
          <div class="buttons"><a class="buttons__button button_y modal_trigger" href="#auth">ДА</a><a class="buttons__button button_n modal_trigger" href="#reg">НЕТ</a></div>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
      <div class="modal" id="check">
        <div class="modal_inner">
          <div class="modal__title ttl3">загрузить чек</div>
          <div class="iframe_wrap">
            <iframe width="100%" height="100%" src="https://checkservice.emg.ru/Upload?id=4d87dce3-7aa3-42c0-a42e-0570704637f2&amp;participantId=1&amp;hash=5ad3da5068cc8640186013c9c88e1085"></iframe>
          </div>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
      <div class="modal" id="getgift">
        <div class="modal_inner modal_getgift">
          <div class="modal__title modal_getgift_title ttl3">Получение приза</div>
          <div class="modal__s"><span>*</span> Все поля обязательны для заполнения</div>
          <div class="modal__name">Иваненко Светлана Игоревна</div>
          <div class="modal__contacts">
            <div class="modal__phone">+7 (922) 667-89-09</div>
            <div class="modal__mail">volkonskih@mail.ru</div>
          </div>
          <form class="modal__form">
            <div class="feild field_short">
              <div class="feild__title">Дата рождения</div>
              <input class="field__input" type="text" placeholder="ДД/ММ/ГГ" name="bdate"/>
            </div>
            <div class="feild">
              <div class="feild__title">Адрес по прописке</div>
              <input class="field__input" type="text" placeholder="г. Москва, ул. Большевиков, д. 1 с. 2, кв.186" name="adress"/>
            </div>
            <div class="feild">
              <div class="feild__title">Адрес доставки</div>
              <!--input.field__input(name="" placeholder='Регион')--><select class="js-example-basic-single" name="adressdel">
<option value="AL">Регион</option>
<option value="WY">Wyoming</option>
</select>
            </div>
            <div class="feild">
              <!--input.field__input(name="" placeholder='Город')--><select class="js-example-basic-single field__input" name="city">
<option value="AL">Город</option>
<option value="WY">Wyoming</option>
</select>
            </div>
            <div class="feild">
              <!--input.field__input(name="" placeholder='Улица')--><select class="js-example-basic-single" name="st">
<option value="AL">Улица</option>
<option value="WY">Wyoming</option>
</select>
            </div>
            <div class="modal__form-row">
              <div class="feild field_short">
                <!--input.field__input(name="" placeholder='№ дома')--><select class="js-example-basic-single" name="housenum">
<option value="AL">№ дома</option>
<option value="WY">Wyoming</option>
</select>
              </div>
              <div class="feild field_short">
                <input class="field__input" name="aptnum" placeholder="№ квартиры"/>
              </div>
            </div>
            <div class="modal__form-row submit">
              <button class="gr__btn" type="submit">Получить приз</button>
            </div>
          </form>
          <div class="modal__can"><img src="images/can.png" alt=""/></div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container footer_container">
        <div class="footer__left">
          <div class="footer__privacy">
            <p>Общий срок проведения акции с 20.06.2019 по 31.10.2019 г. Информацию об организаторе Акции, условиях участия, правилах проведения, призах и их количестве, сроках, месте и порядке их получения уточняйте на сайте <a href="#!">www.comcity.cocacola-promo.ru</a></p>
            <p>Сoca-Cola, Fanta, Sprite, Coca-Cola Vanilla, Coca-Cola Zero и контурная бутылка являются зарегистрированными товарными знаками The Coca-Cola Company.</p>
            <p>© 2019 The Coca-Cola Company. Schweppes является зарегистрированным товарным знаком European Refreshments. © 2019 Все права защищены. Burn является зарегистрированным товарным знаком.</p>
          </div>
        </div>
        <div class="footer__right">
          <ul class="footer__links">
            <li class="footer__li"><a class="footer__link" href="#!">Пользовательское соглашение</a></li>
            <li class="footer__li"><a class="footer__link" href="#!">Политика конфиденциальности</a></li>
            <li class="footer__li"><a class="footer__link" href="#!">Правила акции</a></li>
          </ul>
        </div>
      </div>
      <script src="js/jquery.min.js"></script>
      <script src="js/select2.min.js"></script>
      <script src="js/jquery.maskedinput.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script src="js/main.js"></script>
    </footer>
  </body>
</html>

src/templates/questions.pug
html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header
		section.content
			.df
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-winners.questions_page
					.container
							
						.modal(id='questions')
							.modal_inner.modal_questions
								.modal__title.ttl3 Вопрос-ответ
								form.modal__form
										.feild
											input.field__input(type='text' placeholder='Фамилия Имя Отчество' name='email')
										.feild
											input.field__input(type='email' placeholder='e-mail' name='email')
										.modal__form-row
											.feild
												select.js-example-basic-single.field__input(type='text' placeholder='Выберете тему' name='theme')
													option(value="") Выберете тему
													option(value="") 2
										.field
											textarea.field__input(name='text' placeholder='Ваше сообщение')
										.modal__form-row
											button.green_btn(type="submit") Отправить 
								
						



				



		include includes/footer
