src/templates/includes/footer.pug
section.section-modals
	.modal(id='checkcan')
		
		.modal_inner.modal_reg_complete.modal_checkcan
			.modal__title.ttl3 Ваш чек отменен!
			.field__title Мы получили Ваш чек<br/>и проверяем его. Статус чека<br/>можно узнать в 
				a(href='lk.html') Личном кабинете 
				button.green_btn Понятно 
			
			.modal__can
				img(src="images/can.png", alt="")
	.modal(id='thx')
		
		.modal_inner.modal_reg_complete.modal_thx
			.modal__title.ttl3 Спасибо
			.field__title Мы получили Ваш чек<br/>и проверяем его. Статус чека<br/>можно узнать в 
				a(href='lk.html') Личном кабинете 
				button.green_btn Понятно 
			
			.modal__can
				img(src="images/can.png", alt="")

	//- .modal(id='questions')
		
	//- 	.modal_inner.modal_questions
	//- 		.modal__title.ttl3 Вопрос-ответ
	//- 		form.modal__form
	//- 				.feild
	//- 					input.field__input(type='email' placeholder='e-mail' name='email')
	//- 				.modal__form-row
	//- 					.feild
	//- 						select.js-example-basic-single.field__input(type='text' placeholder='Выберете тему' name='theme')
	//- 							option(value="") Выберете тему
	//- 							option(value="") 2
	//- 				.field
	//- 					textarea.field__input(name='text' placeholder='Ваше сообщение')
	//- 				.modal__form-row
	//- 					button.green_btn(type="submit") Отправить 
	//- 		.modal__can
	//- 			img(src="images/can.png", alt="")
	.modal(id='forgotpass')
		
		.modal_inner.modal_reg_complete
			.modal__title.ttl3 забыли пароль
			form.modal__form
					.feild
						.field__title Введите, пожалуйста, пароль, который мы отправили на ваш телефон по смс
						input.field__input(type='text' placeholder='пароль из sms')
					
					.modal__form-row
						button.green_btn(type="submit") OK
			.modal__can
				img(src="images/can.png", alt="")
	.modal(id='completereg')
		
		.modal_inner.modal_reg_complete
			.modal__title.ttl3 завершить регистрацию
			form.modal__form
					.feild
						.field__title Введите, пожалуйста, пароль, который мы отправили на ваш телефон по смс
						input.field__input(type='text' placeholder='пароль из sms')
					
					.modal__form-row
						button.green_btn(type="submit") OK
			.modal__can
				img(src="images/can.png", alt="")
	.modal(id='reg')
		
		.modal_inner.modal_reg
			.modal__title.ttl3 регистрация
			form.modal__form
					.feild
						input.field__input(type='text' placeholder='Фамилия' name='surname')
					.feild
						input.field__input(type='text' placeholder='Имя' name='name')
					.feild
						input.field__input(type='tel' placeholder='Телефон' name='phone')
					.feild
						input.field__input(type='email' placeholder='E-mail' name='mail')
					
					.modal__form-row
						.feild.field_checkbox Я ознакомлен с <a href='#!'>правилами акции</a>
							input(type="checkbox", name="rules")
							span
					.modal__form-row
						.feild.field_checkbox Я согласен на обработку персональных данных.
							input(type="checkbox", name="privacy")
							span
					.modal__form-row
						.feild.field_checkbox.captcha я не робот
							input(type="checkbox", name="captha")
							span
					.modal__form-row
						button.green_btn(type="submit") зарегистрироваться
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='auth')
		
		.modal_inner.modal_auth
			.modal__title.ttl3 авторизация
			form.modal__form
					.feild
						input.field__input(type='tel' placeholder='телефон' name='phone')
					.feild
						input.field__input(type='password' placeholder='пароль' name='pass')
					.modal__form-row
						button.green_btn(type="submit") Получить приз
					.modal__form-row
						span
							a.modal_trigger(href="#forgotpass") Забыли пароль?
					.modal__form-row
						span Впервые на сайте?
							a.modal_trigger(href="#reg")  Зарегистрируйтесь
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='firstauth')
		.modal_inner.modal_firstauth
			.modal__title.ttl3 Я участвовал в акциях <b>Coke&Meal</b>, у меня есть логин и пароль.
			.buttons
				a.buttons__button.button_y.modal_trigger(href="#auth") ДА
				a.buttons__button.button_n.modal_trigger(href="#reg") НЕТ
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='check')
			.modal_inner
				.modal__title.ttl3 загрузить чек
				iframe(width="100%" height="100%" src="https://checkservice.emg.ru/Upload?id=4d87dce3-7aa3-42c0-a42e-0570704637f2&participantId=1&hash=5ad3da5068cc8640186013c9c88e1085")
				.modal__can
					img(src="images/can.png", alt="")
			

	.modal(id='getgift')
		
		.modal_inner.modal_getgift
			.modal__title.modal_getgift_title.ttl3 Получение приза
			.modal__s <span>*</span> Все поля обязательны для заполнения
			.modal__name Иваненко Светлана Игоревна
			.modal__contacts
				.modal__phone +7 (922) 667-89-09
				.modal__mail volkonskih@mail.ru
			form.modal__form
					.feild.field_short
						.feild__title Дата рождения
						input.field__input(type='text' placeholder='ДД/ММ/ГГ' name='bdate')
					.feild
						.feild__title Адрес по прописке
						input.field__input(type='text' placeholder='г. Москва, ул. Большевиков, д. 1 с. 2, кв.186' name='adress')
						
					.feild
						.feild__title Адрес доставки
						//input.field__input(name="" placeholder='Регион')
						<select class="js-example-basic-single" name="adressdel">
							<option value="AL">Регион</option>
							<option value="WY">Wyoming</option>
						</select>
					.feild
						//input.field__input(name="" placeholder='Город')
						<select class="js-example-basic-single field__input" name="city">
							<option value="AL">Город</option>
							<option value="WY">Wyoming</option>
						</select>
					.feild
						//input.field__input(name="" placeholder='Улица')
						<select class="js-example-basic-single" name="st">
							<option value="AL">Улица</option>
							<option value="WY">Wyoming</option>
						</select>
					.modal__form-row
						.feild.field_short
							//input.field__input(name="" placeholder='№ дома')
							<select class="js-example-basic-single" name="housenum">
								<option value="AL">№ дома</option>
								<option value="WY">Wyoming</option>
							</select>
						.feild.field_short
							input.field__input(name="aptnum" placeholder='№ квартиры')
					.modal__form-row.submit
						button.gr__btn(type="submit") Получить приз
					//- .feild.field_checkbox Я согласен на обработку персональных данных.
					//- 	input(type="checkbox", name="")
						span
			.modal__can
				img(src="images/can.png", alt="")

		
footer.footer
	.container.footer_container
		.footer__left
			.footer__privacy
				p Общий срок проведения акции с 20.06.2019 по 31.10.2019 г. Информацию об организаторе Акции, условиях участия, правилах проведения, призах и их количестве, сроках, месте и порядке их получения уточняйте на сайте <a href="#!">www.comcity.cocacola-promo.ru</a>
				p Сoca-Cola, Fanta, Sprite, Coca-Cola Vanilla, Coca-Cola Zero и контурная бутылка являются зарегистрированными товарными знаками The Coca-Cola Company.
				p © 2019 The Coca-Cola Company. Schweppes является зарегистрированным товарным знаком European Refreshments. © 2019 Все права защищены. Burn является зарегистрированным товарным знаком.
		.footer__right
			ul.footer__links
				li.footer__li
					a.footer__link(href='#!') Пользовательское соглашение
				li.footer__li
					a.footer__link(href='#!') Политика конфиденциальности
				li.footer__li
					a.footer__link(href='#!') Правила акции
		 

	script(src='js/jquery.min.js')
	script(src='js/select2.min.js')
	script(src="js/jquery.maskedinput.min.js")
	script(src="js/jquery.validate.min.js")
	script(src='js/main.js')

dist/includes/footer.html

<section class="section-modals">
  <div class="modal" id="checkcan">
    <div class="modal_inner modal_reg_complete modal_checkcan">
      <div class="modal__title ttl3">Ваш чек отменен!</div>
      <div class="field__title">Мы получили Ваш чек<br/>и проверяем его. Статус чека<br/>можно узнать в <a href="lk.html">Личном кабинете </a>
        <button class="green_btn">Понятно </button>
      </div>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="thx">
    <div class="modal_inner modal_reg_complete modal_thx">
      <div class="modal__title ttl3">Спасибо</div>
      <div class="field__title">Мы получили Ваш чек<br/>и проверяем его. Статус чека<br/>можно узнать в <a href="lk.html">Личном кабинете </a>
        <button class="green_btn">Понятно </button>
      </div>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="forgotpass">
    <div class="modal_inner modal_reg_complete">
      <div class="modal__title ttl3">забыли пароль</div>
      <form class="modal__form">
        <div class="feild">
          <div class="field__title">Введите, пожалуйста, пароль, который мы отправили на ваш телефон по смс</div>
          <input class="field__input" type="text" placeholder="пароль из sms"/>
        </div>
        <div class="modal__form-row">
          <button class="green_btn" type="submit">OK</button>
        </div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="completereg">
    <div class="modal_inner modal_reg_complete">
      <div class="modal__title ttl3">завершить регистрацию</div>
      <form class="modal__form">
        <div class="feild">
          <div class="field__title">Введите, пожалуйста, пароль, который мы отправили на ваш телефон по смс</div>
          <input class="field__input" type="text" placeholder="пароль из sms"/>
        </div>
        <div class="modal__form-row">
          <button class="green_btn" type="submit">OK</button>
        </div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="reg">
    <div class="modal_inner modal_reg">
      <div class="modal__title ttl3">регистрация</div>
      <form class="modal__form">
        <div class="feild">
          <input class="field__input" type="text" placeholder="Фамилия" name="surname"/>
        </div>
        <div class="feild">
          <input class="field__input" type="text" placeholder="Имя" name="name"/>
        </div>
        <div class="feild">
          <input class="field__input" type="tel" placeholder="Телефон" name="phone"/>
        </div>
        <div class="feild">
          <input class="field__input" type="email" placeholder="E-mail" name="mail"/>
        </div>
        <div class="modal__form-row">
          <div class="feild field_checkbox">Я ознакомлен с <a href='#!'>правилами акции</a>
            <input type="checkbox" name="rules"/><span></span>
          </div>
        </div>
        <div class="modal__form-row">
          <div class="feild field_checkbox">Я согласен на обработку персональных данных.
            <input type="checkbox" name="privacy"/><span></span>
          </div>
        </div>
        <div class="modal__form-row">
          <div class="feild field_checkbox captcha">я не робот
            <input type="checkbox" name="captha"/><span></span>
          </div>
        </div>
        <div class="modal__form-row">
          <button class="green_btn" type="submit">зарегистрироваться</button>
        </div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="auth">
    <div class="modal_inner modal_auth">
      <div class="modal__title ttl3">авторизация</div>
      <form class="modal__form">
        <div class="feild">
          <input class="field__input" type="tel" placeholder="телефон" name="phone"/>
        </div>
        <div class="feild">
          <input class="field__input" type="password" placeholder="пароль" name="pass"/>
        </div>
        <div class="modal__form-row">
          <button class="green_btn" type="submit">Получить приз</button>
        </div>
        <div class="modal__form-row"><span><a class="modal_trigger" href="#forgotpass">Забыли пароль?</a></span></div>
        <div class="modal__form-row"><span>Впервые на сайте?<a class="modal_trigger" href="#reg"> Зарегистрируйтесь</a></span></div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="firstauth">
    <div class="modal_inner modal_firstauth">
      <div class="modal__title ttl3">Я участвовал в акциях <b>Coke&Meal</b>, у меня есть логин и пароль.</div>
      <div class="buttons"><a class="buttons__button button_y modal_trigger" href="#auth">ДА</a><a class="buttons__button button_n modal_trigger" href="#reg">НЕТ</a></div>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="check">
    <div class="modal_inner">
      <div class="modal__title ttl3">загрузить чек</div>
      <iframe width="100%" height="100%" src="https://checkservice.emg.ru/Upload?id=4d87dce3-7aa3-42c0-a42e-0570704637f2&amp;participantId=1&amp;hash=5ad3da5068cc8640186013c9c88e1085"></iframe>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="getgift">
    <div class="modal_inner modal_getgift">
      <div class="modal__title modal_getgift_title ttl3">Получение приза</div>
      <div class="modal__s"><span>*</span> Все поля обязательны для заполнения</div>
      <div class="modal__name">Иваненко Светлана Игоревна</div>
      <div class="modal__contacts">
        <div class="modal__phone">+7 (922) 667-89-09</div>
        <div class="modal__mail">volkonskih@mail.ru</div>
      </div>
      <form class="modal__form">
        <div class="feild field_short">
          <div class="feild__title">Дата рождения</div>
          <input class="field__input" type="text" placeholder="ДД/ММ/ГГ" name="bdate"/>
        </div>
        <div class="feild">
          <div class="feild__title">Адрес по прописке</div>
          <input class="field__input" type="text" placeholder="г. Москва, ул. Большевиков, д. 1 с. 2, кв.186" name="adress"/>
        </div>
        <div class="feild">
          <div class="feild__title">Адрес доставки</div>
          <!--input.field__input(name="" placeholder='Регион')--><select class="js-example-basic-single" name="adressdel">
<option value="AL">Регион</option>
<option value="WY">Wyoming</option>
</select>
        </div>
        <div class="feild">
          <!--input.field__input(name="" placeholder='Город')--><select class="js-example-basic-single field__input" name="city">
<option value="AL">Город</option>
<option value="WY">Wyoming</option>
</select>
        </div>
        <div class="feild">
          <!--input.field__input(name="" placeholder='Улица')--><select class="js-example-basic-single" name="st">
<option value="AL">Улица</option>
<option value="WY">Wyoming</option>
</select>
        </div>
        <div class="modal__form-row">
          <div class="feild field_short">
            <!--input.field__input(name="" placeholder='№ дома')--><select class="js-example-basic-single" name="housenum">
<option value="AL">№ дома</option>
<option value="WY">Wyoming</option>
</select>
          </div>
          <div class="feild field_short">
            <input class="field__input" name="aptnum" placeholder="№ квартиры"/>
          </div>
        </div>
        <div class="modal__form-row submit">
          <button class="gr__btn" type="submit">Получить приз</button>
        </div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container footer_container">
    <div class="footer__left">
      <div class="footer__privacy">
        <p>Общий срок проведения акции с 20.06.2019 по 31.10.2019 г. Информацию об организаторе Акции, условиях участия, правилах проведения, призах и их количестве, сроках, месте и порядке их получения уточняйте на сайте <a href="#!">www.comcity.cocacola-promo.ru</a></p>
        <p>Сoca-Cola, Fanta, Sprite, Coca-Cola Vanilla, Coca-Cola Zero и контурная бутылка являются зарегистрированными товарными знаками The Coca-Cola Company.</p>
        <p>© 2019 The Coca-Cola Company. Schweppes является зарегистрированным товарным знаком European Refreshments. © 2019 Все права защищены. Burn является зарегистрированным товарным знаком.</p>
      </div>
    </div>
    <div class="footer__right">
      <ul class="footer__links">
        <li class="footer__li"><a class="footer__link" href="#!">Пользовательское соглашение</a></li>
        <li class="footer__li"><a class="footer__link" href="#!">Политика конфиденциальности</a></li>
        <li class="footer__li"><a class="footer__link" href="#!">Правила акции</a></li>
      </ul>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/jquery.maskedinput.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>
</footer>
