dist/includes/header-login.html

<header class="header header_logout">
  <div class="container header_container">
    <div class="header__inner container">
      <div class="onstart"><a class="onstart__link" href="/"><img src="images/back.png"/></a></div>
      <div class="logos">
        <div class="logos__img logos_coca"><img src="images/coca.png" alt="logo"/></div>
        <div class="logos__img"><img src="images/5ka.png" alt="logo"/></div><span class="logos__slogan">Выигрывай призы с Coca-cola и Пятерочка</span>
      </div>
    </div>
    <div class="nav container">
      <div class="nav_pattern_mobile"></div>
      <ul class="nav__ul">
        <li class="nav__li"><a class="nav__link" href="#!">Правила</a></li>
        <li class="nav__li"><a class="nav__link" href="winners.html">Победители</a></li>
        <li class="nav__li"><a class="nav__link" href="questions.html">Вопрос-ответ</a></li>
        <li class="nav__li nav_li_mobile"><a class="nav__link modal_trigger" href="#firstauth">Войти / Зарегистрироваться</a><a class="nav__link modal_trigger mobile__auth" href="#!">Выйти</a><a class="nav__link modal_trigger mobile__reg" href="#reg">Зарегистрироваться</a></li>
      </ul>
    </div>
    <div class="logout">
      <div class="logout__links"><a class="logout__btn logout_pep" href="#!"><span class="logout__btn-icon"><img src="images/logout.png"/></span></a><a class="logout__btn logout_menu_append" href="#!"><span class="logout__btn-text">Выйти</span></a></div>
    </div>
    <div class="menu">
      <div class="menu__icon"><img src="images/menu.png" alt="burger"/></div>
    </div>
  </div>
</header>

src/templates/includes/header-login.pug
header.header.header_logout
	.container.header_container
		.header__inner.container
			.onstart
				a.onstart__link(href="/")
					img(src="images/back.png")
			.logos
				.logos__img.logos_coca
					img(src="images/coca.png", alt="logo")
				.logos__img
					img(src="images/5ka.png", alt="logo")
				span.logos__slogan Выигрывай призы с Coca-cola и Пятерочка
		.nav.container
			.nav_pattern_mobile
			ul.nav__ul
				li.nav__li
					a.nav__link(href='#!') Правила
				li.nav__li
					a.nav__link(href='winners.html') Победители
				li.nav__li
					a.nav__link(href='questions.html') Вопрос-ответ
				li.nav__li.nav_li_mobile
					a.nav__link.modal_trigger(href='#firstauth') Войти / Зарегистрироваться
					a.nav__link.modal_trigger.mobile__auth(href='#!') Выйти
					a.nav__link.modal_trigger.mobile__reg(href='#reg') Зарегистрироваться
		.logout
			.logout__links
				a.logout__btn.logout_pep(href='#!')
					span.logout__btn-icon
						img(src='images/logout.png')
				a.logout__btn.logout_menu_append(href='#!')
					span.logout__btn-text Выйти



				
		.menu
			.menu__icon

				img(src="images/menu.png", alt="burger")
