src/templates/includes/header.pug
header.header
	.container.header_container
		.header__inner.container
			.logos
				.logos__img.logos_coca
					img(src="images/coca.png", alt="logo")
				.logos__img
					img(src="images/5ka.png", alt="logo")
				span.logos__slogan Выигрывай призы в пятёрочке Комсити
		.nav.container
			.nav_pattern_mobile
			ul.nav__ul
				li.nav__li
					a.nav__link(href='#!') Правила
				li.nav__li
					a.nav__link(href='winners.html') Победители
				li.nav__li
					a.nav__link(href='questions.html') Вопрос-ответ
				li.nav__li.nav_li_mobile
					a.nav__link.modal_trigger(href='#firstauth') Войти / Зарегистрироваться
					a.nav__link.modal_trigger.mobile__auth(href='#auth') Войти
					a.nav__link.modal_trigger.mobile__reg(href='#reg') Зарегистрироваться


				
		.menu
			.menu__icon

				img(src="images/menu.png", alt="burger")

dist/includes/header.html

<header class="header">
  <div class="container header_container">
    <div class="header__inner container">
      <div class="logos">
        <div class="logos__img logos_coca"><img src="images/coca.png" alt="logo"/></div>
        <div class="logos__img"><img src="images/5ka.png" alt="logo"/></div><span class="logos__slogan">Выигрывай призы в пятёрочке Комсити</span>
      </div>
    </div>
    <div class="nav container">
      <div class="nav_pattern_mobile"></div>
      <ul class="nav__ul">
        <li class="nav__li"><a class="nav__link" href="#!">Правила</a></li>
        <li class="nav__li"><a class="nav__link" href="winners.html">Победители</a></li>
        <li class="nav__li"><a class="nav__link" href="questions.html">Вопрос-ответ</a></li>
        <li class="nav__li nav_li_mobile"><a class="nav__link modal_trigger" href="#firstauth">Войти / Зарегистрироваться</a><a class="nav__link modal_trigger mobile__auth" href="#auth">Войти</a><a class="nav__link modal_trigger mobile__reg" href="#reg">Зарегистрироваться</a></li>
      </ul>
    </div>
    <div class="menu">
      <div class="menu__icon"><img src="images/menu.png" alt="burger"/></div>
    </div>
  </div>
</header>
